


/* #love{
    color: red;
}
#love hate{
    background-color: aqua;
}
.sub{
    color: aquamarine;
    background-color: rgb(231, 80, 20);
}
.something{
    font-size: 50px;
} */
/* 
#love,.sub{
    color:aqua
}

*{
    background-color: black;
} */
 /* #love{
    color: red;
 } */
 /* .hate{
    color: black;
 } */
 /* h1{
    color: blue;
 } */
 /* *{
    color: pink;
 } */



