/* p::first-letter{
    font-size: 100px;
}
p::first-line{
    color:red;
    background-color: yellow;
}

p::after{
    content:"😊";
}
p::before{
    content:"😁";
} */
 p::selection{
    background-color: yellow;
    color: red;;
 }
 li::marker{
    color:red;
 }
 input::placeholder{
    color: red;;
 }